/*----------------------------------------------Main Content----------------------------------------------*/

main-content div.titre{
	position: relative;
	display: block;

	padding: 10px;
	font-size: 30px;
	text-align: center;
	
	top: 80px;
	width: 350px;
	margin: 0 auto;
	
	z-index: 4;
	color: white;
	background-color: #333333;
}

main-content div.list_picture{
	position: relative;
	display: inline-block;

	width: 100%;
	margin: 0 auto;
	text-align: center;
	top: 90px;

}

main-content div img{
	position: relative;
	display: inline-block;
	height: 100px;

	margin: 0 auto;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
}

main-content div img:hover{
	opacity: 0.5;
}

img.main_window{
	position: relative;
	display: block;

	margin: 0 auto;
	top: 100px;
	width: 615px;
}

main-content div.input{
	position: relative;
	display: block;

	text-align: center;
	margin: 0 auto;
	top: 100px;
}

main-content input[type=text]{
	width: 557px;
	outline: none;
	transition: 0.5s;
}

main-content input[type=text]:focus {
	background-color: #555;
	color: white;
}